<!--<app-header (featureSelected)="onNavigate($event)"></app-header>-->
<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <router-outlet></router-outlet>
      <!--Without routing we can redirect to any page in the below way-->
      <!--<app-recipes *ngIf="loadedFeature === 'recipe'"></app-recipes>
      <app-shopping-list *ngIf="loadedFeature !== 'recipe'"></app-shopping-list>-->
    </div>
  </div>
</div>